################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MongoDB/.vs
/MongoDB/AnotacoesAPI/bin
/MongoDB/AnotacoesAPI/obj
